<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net40" />
  <package id="GMap.Net" version="1.0.1" targetFramework="net40" />
  <package id="GMap.NET.WindowsForms" version="1.7.1" targetFramework="net40" />
  <package id="Droid_Web" version="1.0.0" targetFramework="net451" />
  <package id="Tools4Libraries" version="1.0.4" targetFramework="net4" />
</packages>